.container {
  padding: 0 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:active {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
}

.label {
  font-size: 10px;
  padding: 0 5px;
}

.icon {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
