:global {
  .btn {
    padding: 5px 25px;
    cursor: pointer;
    border: 1px solid darken(#fff, 15);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    color: darken(#fff, 70);
    &:hover,
    &:active {
      color: darken(#fff, 60);
    }
    &.disabled {
      color: darken(#fff, 50);
      cursor: not-allowed;
    }
  }
}
