:global {
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.rounded {
      border-radius: 5px;
    }
    &.bordered {
      border: 1px solid darken(#fff, 10);
    }
    &:hover {
      background-color: darken(#fff, 4);
    }
    &.has-headfooter {
      grid-template-rows: 20px 1fr 20px;
    }
    &-header {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
    }
    &-title {
      font-weight: 600;
    }
    &-body {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }
    &-thumbnail {
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .icon {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: darken(#fff, 70);
        &-rounded {
          border-radius: 50%;
          border: 1px solid darken(#fff, 10);
        }
      }
    }
    &-content {
      padding: 10px;
      border: 1px solid transparent;
      &:hover {
        border-top: 1px solid darken(#fff, 10);
        border-bottom: 1px solid darken(#fff, 10);
      }
    }
    &-footer {
      padding: 5px;
    }
  }
}
