:global {
  .form {
    .control {
      display: flex;
      border: 1px solid darken(#fff, 10);
      background-color: #fff;
      z-index: 1;
      position: relative;
      padding: 7px;

      input,
      textarea {
        border: none;
        width: 100%;
      }

      .label {
        z-index: 2;
      }

      .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: darken(#fff, 50);
      }

      &.rounded {
        border-radius: 3px;
      }
    }
  }
}
