@import "vars";

$nav-color-light: darken(#fff, 40);
$nav-color-active: darken(#fff, 100);

:global {
  .nav {
    &-v {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      ul {
        height: 100%;
        &.bottom {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      padding: 0;
    }
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &.hasicon {
        width: 50px;
        height: 50px;
        color: $nav-color-light;
        &:hover,
        &.active {
          color: $nav-color-active;
        }
      }
    }
  }
}
