@import "vars";
@import "mixins";

:global {
  * {
    box-sizing: border-box;
    user-select: none;
    &:active {
      outline: none;
    }
    &::selection {
      background: none;
    }

    &::-moz-selection {
      background: none;
    }
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(darkgrey, 0.5);
    }
  }

  html {
    width: 100%;
    height: 100%;
  }

  html,
  body {
    @include no-margin();
    overflow: hidden;
  }

  body {
    width: 100%;
    height: 100%;
  }

  ul,
  li,
  a,
  article,
  input,
  textarea,
  button {
    @include no-margin();
    text-decoration: none;
    list-style: none;
    outline: none;
    color: inherit;
    background: none;
    border: none;
  }

  #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
