@import "vars";
@import "mixins";

:global {
  * {
    font-family: "noto-sans";
  }

  html {
    &,
    body {
      font-size: $font-size-normal;
    }
  }

  h {
    @for $i from 1 through 6 {
      &#{$i} {
        font-size: $font-size-normal;
        font-weight: 300;
      }
    }
  }
  .h {
    &1 {
      font-size: $font-size-xlarge;
    }
    &2 {
      font-size: $font-size-large;
    }
    @for $i from 1 through 6 {
      &#{$i} { 
        font-weight: 600;
      }
    }
  }
}
