body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

/*@media (prefers-color-scheme: dark) {*/
/*  body { background: #333; color: white; }*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*  body { background: #ddd; color: black; }*/
/*}*/