$layout-color-light: darken(#fff, 10);
$layout-color-bg: darken(#fff, 2);
$layout-text-color-light: #222;
$layout-text-color-dark: #fff;
$layout-color-bg-footer: #222;

.layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 20px;
  color: $layout-text-color-light;

  & > main {
    display: grid;
    grid-template-columns: 1fr 300px;
    overflow: hidden;
    & > section:first-of-type {
      border-right: 1px solid $layout-color-light;
      background-color: $layout-color-bg;
      display: flex;
      flex-direction: row-reverse;
      align-items: stretch;
      overflow: hidden;
      & > div:first-of-type {
        flex: 1;
      }
      & > nav:first-of-type {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: darken($layout-color-bg, 2);
      }
    }
  }
  & > footer {
    background-color: $layout-color-bg-footer;
    color: $layout-text-color-dark;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
}
