#provider {
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 100%;
  overflow: hidden;
  .container {
    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
    .form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 40px;
      background-color: #fff;
    }
  }
  .col2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .content {
    overflow: auto;
  }
  .sideright {
    overflow: auto;
  }
  .fields {
    margin-bottom: 5px;
  }
  .form {
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fieldset {
    flex: 1;
  }
  .actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
  }
  .action {
    box-sizing: content-box;
  }
}
